<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='mediaqueries.css') }}" />
    <title>Document</title>
</head>
<body>
    <section id="projects">
        <h1 class="title">numberGuessingGame</h1>
        <p class="section__text__p1">in action</p>
        <div class="experience-details-container">
          <div class="about-containers">
            <div class="details-container color-container">
              <div class="article-container">
                <img src="{{ url_for('static', filename='/images/project-1.png') }}" alt="Project 1" class="project-img"/>
              </div>
              <h2 class="experience-sub-title project-title">this.Portfolio</h2>
              <div class="project-tags">
                <span>HTML5</span>
                <span>CSS3</span>
                <span>JavaScript</span>
              </div>
              <div class="btn-container">
                <button class="btn btn-color-2 project-btn" onclick="location.href='https://github.com/itslebo/portfolio/'"> Github </button>
                <button class="btn btn-color-2 project-btn" onclick="location.href='#'"> Live Demo </button>
              </div>
            </div>
            
            <div class="details-container color-container">
              <div class="article-container">
                <img src="{{ url_for('static', filename='/images/project-3.png') }}" alt="Project 2" class="project-img"/>
              </div>
              <h2 class="experience-sub-title project-title">Survey Form</h2>
              <div class="project-tags">
                <span>HTML5</span>
                <span>CSS3</span>
              </div>
              <div class="btn-container">
                <button class="btn btn-color-2 project-btn" onclick="location.href='https://github.com/itslebo/html_survey-form'"> Github </button>
                <button class="btn btn-color-2 project-btn" onclick="location.href='https://surveyform-project1.netlify.app/'"> Live Demo </button>
              </div>
            </div>
  
            <div class="details-container color-container">
              <div class="article-container">
                <!-- <img src="./assets/project-2.png" alt="Project 2" class="project-img"/> -->
              </div>
              <h2 class="experience-sub-title project-title">Still working on it...</h2>
              <!-- <div class="project-tags">
                <span>HTML5</span>
                <span>CSS3</span>
                <span>JavaScript</span>
              </div> -->
              <!-- <div class="btn-container">
                <button class="btn btn-color-2 project-btn" onclick="location.href='https://github.com/'"> Github </button>
                <button class="btn btn-color-2 project-btn" onclick="location.href='https://github.com/'"> Live Demo </button>
              </div> -->
            </div>
            
          </div>
        </div>
        <img
          src="{{ url_for('static', filename='/images/arrow.png') }}"
          alt="Arrow icon"
          class="icon arrow"
          onclick="location.href='./#contact'"
        />
      </section>
</body>
</html>